
<div class="container" style="margin:0%; padding:0%; margin-bottom:50px">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-body" style="padding-left: 50px; padding-right: 50px; padding-top:40px; padding-bottom:50px; background-color:white; border:none; border-radius:6px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; margin-bottom:50px">
              <h1>Login</h1>

              <form action="/login" method="POST">
                <div class="mb-3" style="margin-top: 32px;">
                  <label for="email" class="form-label">Email</label>
                  <input value="{{user.email}}" type="email" class="form-control" placeholder="name@example.com" style="background-color:#FAFAFF; border-color:#30343F; border-radius:px; width:100%" {{#if errorMessage}}is-invalid{{/if}} id="email" name="email" aria-describedby="emailHelp" required>
                  <div class="invalid-feedback">
                    {{errorMessage}}
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" name="password" style="background-color:#FAFAFF; border-color:#30343F; border-radius:4px; width:100%" required>
                </div>
                <div style="margin-top:32px" class="d-flex justify-content-end align-items-center">
                  <button type="submit" class="btn btn-primary">Log In</button>
                </div>
                
              </form>
            </div>
          </div>  
        </div>

        <div class="col text-center">
          <img src="/images/image-login.png" style="height:80%">
        </div>
      </div>
</div>

