<div class="border border-top-0 border-start-0 border-end-0 py-4">
  <div class="d-flex gap-3">
    <div>
      <h4 class="mb-1">{{job.title}}</h4>
      <p class="m-0">{{job.description}}</p>
    </div>
  </div>
 {{!--    {{#isOwner currentUser=currentUser tweetOwnerId=tweet.user.id}}
      <form class="m-0" action="/tweets/{{tweet.id}}/delete" method="POST">
        <button class="btn text-danger" type="submit">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </form>
    {{/isOwner}} --}}
</div>
