<h1 _ngcontent-vkb-c165="" class="heading-1">¡Hola, Hunter!</h1>

<form class="row g-3">
<p _ngcontent-vkb-c165="" class="body-1 mb-4">Encuentra el talento que necesitas</p>
<span _ngcontent-vkb-c157="" class="text-center"> No tienes ningún proceso de selección creado. <br _ngcontent-vkb-c157=""> Anímate a crear el primero. </span>

    <div class="col-md-6">
        <label for="" class="form-label">height</label>
        <input type="height" class="form-control" id="">
    </div>

    <div class="col-md-6">
        <label for="" class="form-label">weight</label>
        <input type="weight" class="form-control" id="">
    </div>

     <div class="col-md-6">
        <label for="" class="form-label">age</label>
        <input type="age" class="form-control" id="">
    </div>

     <div class="col-md-6">
        <label for="" class="form-label">eye color</label>
        <input type="eyeColor" class="form-control" id="">
    </div>

     <div class="col-md-6">
        <label for="role" class="form-label">briefcase</label>
        <select class="form-select {{#if errors.role}}is-invalid{{/if}}" aria-label="Default select role" name="role">
        <option selected>select a role</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
        </select>
        {{errors.role}}
        </div>

     <div class="col-md-6">
        <label for="" class="form-label">km</label>
        <input type="km" class="form-control" id="">
    </div>
    
    
        <div class="col-12">
            <button _ngcontent-vkb-c157="" data-cy="new-process-button" class="col-xl-2 my-3 my-md-0 button-1 btn btn-success"><img _ngcontent-vkb-c157="" > Nuevo proceso </button>
        </div>
    </form>



