<div>
  <section class="border-bottom-0 border-top-0 w-100 p-4">
      <h1>Be casted in...</h1>

    <div class="container">
      <h3>Open positions ({{jobs.length}})</h3>
        <div class="row">
          {{#each jobs as |job|}}
              <div class="col">
                
                  {{> jobcard job=job currentUser=../currentUser}}
                  
              </div>
          {{/each}}  
        </div>
    </div>
  </section>
    
</div>    