<h1>Hunter's Home</h1>

{{!-- Aquí va un if/else sí hay jobs  --}}

<section class="border border-bottom-0 border-top-0 w-100 p-4">
    <h1 class="text-primary">Your Jobs</h1>
    {{#each jobs as |job|}}
      {{> jobcard job=job currentUser=../currentUser}}
      <form method="POST" action="/jobs/{{job.id}}/application" >
        <button class="link">Apply</button> {{! helper para que cambie a "applied"? }}
      </form>
    
    {{else}}
      <div>
        <h3>You have no jobs posted yet</h3>

      </div>
    {{/each}}
    <a class="link" href="/create" method="GET" action="/create" >Create a job</a>
  </section>