<h1>Hunter's Home</h1>

{{!-- Aquí va un if no hay jobs  --}}
<h3>You have no jobs posted yet</h3>

<a class="link" href="/create" method="GET" action="/create" >Create a job</a>

<div>
    <h2>{{job.description}}</h2>
    <p>{{job.age}}</p>
    <p>{{job.height}}</p>
</div>

