
  <section class="border-bottom-0 border-top-0 w-100 p-4">
      <h1>
        <strong>Be casted in...</strong>
      </h1>
      <div class="row">
        {{#each jobs as |job|}}
          <div class= "card profile-card-3">
            <div class="d-flex gap-3">
              {{> jobcard job=job currentUser=../currentUser}}
            </div>
          </div>
        {{/each}}
      </div>
  </section>
