<h2>PROFILE</h2>
<div class="row">
  <div class="col-md-6">
    <form action="/profile-set" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="image-input">Image:</label>
            <div class="custom-card">
                <img src="{{user.image}}" width="300" />
                <input type="file" name="image" id="user-photo" class="form-control-file" />
                <input type="text" name="existingImage" hidden id="">
            </div>
        </div>

        <div class="form-group">
                <label for="description-input">Description:</label>
                <textarea name="description" id="description-input" cols="30" rows="4" class="form-control"> </textarea>
        </div>
        <div class="form-group">
            <label for="title-input">firstName</label>
            <input type="text" name="firstName" id="firstName" class="form-control" />
        </div>

        <div class="col-md-6">
                <label for="" class="form-label">Age</label>
                <select class="form-select" aria-label="Default select role" name="age" >
                        <option selected>select age range</option>
                        <option value='-20'>-20</option>
                        <option value='21 - 35'>21 - 35</option>
                        <option value='36-50'>36 - 50</option>
                        <option value='+50'>+50</option>
                    </select>

        </div>

        <div class="mb-3">
                <label for="height"  class="form-label">Height Range</label>
                    <select class="form-select" aria-label="Default select role" name="height" >
                        <option selected>select height range</option>
                        <option value='1.40 - 1.60'>1.40 - 1.60</option>
                        <option value='1.61 - 1.80'>1.61 - 1.80</option>
                        <option value='+1.80'>+1.80</option>
                    </select>
        </div>


      <button>Update profile</button>
    </form>
  </div>
</div>