
{{!-- <div class="card" style="width: 100%; height:fit-content; background-color:#f5f5f5; border:none">
  <div class="card-body" style="padding-top:50px; padding-right:30px; padding-left:24px">  --}}
        <div style="margin:0%; padding:0%">
            <div class="row">
                <div class="col-7">
                    {{> profile user=user app=app}}
                    
                </div>
                <div class="col align-right">            
                    {{> appcard app=app job=job currentUser=../currentUser}}
                </div>
                
            </div>
        </div>

{{!--     </div>
</div>   --}}